<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DWM-Imóvel</title>

    <!-- Typeahead CSS -->
    <link rel="stylesheet" href="~/Content/css/jquery.typeahead.css">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

    <!-- Font Awesome CSS -->
    <link href="~/Content/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Datepicker CSS -->
    <link href="~/Scripts/css/datepicker.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="~/Content/css/animations.css" rel="stylesheet">


    <!-- StartBootstrap -->
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/Start-Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/Content/Start-Bootstrap/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="~/Content/Start-Bootstrap/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/Start-Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Content/Start-Bootstrap/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/Start-Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- Bootstrap core CSS -->
    @*<link href="../../../Content/bootstrap/css/bootstrap.css" rel="stylesheet">*@

    <!-- Custom Components - André Leal -->

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/scripts/jquery-{version}.js"></script>
    <script type="text/javascript" src="~/scripts/jquery-migrate-{version}.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/scripts/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.validate-fix.js"></script>
    <script type="text/javascript" src="~/scripts/js/locales/bootstrap-datepicker.pt-BR.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.validate.unobtrusive-custom-for-bootstrap.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/scripts/inputs-jquery-ui.js"></script>
    <script type="text/javascript" src="~/Content/typeahead/jquery.typeahead.min.js"></script>

    <link href="@Styles.Url("~/Content/Site.css")" rel="stylesheet" />
    <link href="@Styles.Url("~/Content/bootstrap-mvc-validation.css")" rel="stylesheet" />

    <!-- Modernizr javascript -->
    <script type="text/javascript" src="~/Content/plugins/modernizr.js"></script>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/shieldui-all.min.css" />
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <link id="gridcss" rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/dark-bootstrap/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../Home/Default">DWM Imóvel</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @Html.Partial("_Menu")
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="margem-negativa">
        <div id="carregando" style="visibility: hidden; height: 0px; background-repeat: no-repeat; z-index: 5; background-image: url(../Content/images/loader.gif); background-position-x: 50%; background-position-y: 200px">
            <label>Carregando...</label>
        </div>
        <div class="container-fluid">
            <div class="container">
                @BreadCrumbPage.Trace((App_Dominio.Component.BreadCrumb)ViewBag.BreadCrumb)
                @Html.Partial("_alerts")
                <div class="alert alert-dismissable alert-warning" id="alerta" style="visibility: hidden">
                    <a class="close" href="#" aria-hidden="true" onclick="$('#alerta').hide()">x</a>
                    <h4 class="alert-heading" id="alerta-heading">Atenção!</h4>
                    <div id="MsgAlert"></div>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/scripts")
    @Scripts.Render("~/js")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $("#alerta").hide();
        $("#alerta").css("visibility", "visible");

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        function sidebar_click() {
            $("#sidebar-wrapper").show();
            $("#menu-toggle").click();
        }
    </script>

    <!-- JavaScript files placed at the end of the document so the pages load faster
    ================================================== -->
    <!-- Side-bar -->
    <script type="text/javascript" src="~/Content/plugins/jquery.min.js"></script>

    @*<script type="text/javascript">

            //$(".banner-image").backstretch('../../Content/images/slide6.jpg');

            // Fixed header
            //-----------------------------------------------
            $(window).scroll(function () {
                if (($(".header.fixed").length > 0)) {
                    if (($(this).scrollTop() > 0) && ($(window).width() > 767)) {
                        $("body").addClass("fixed-header-on");
                    } else {
                        $("body").removeClass("fixed-header-on");
                    }
                };
            });
        </script>*@


    <!-- jQuery -->
    <script src="~/Content/Start-Bootstrap/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/Start-Bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Content/Start-Bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/Content/Start-Bootstrap/bower_components/raphael/raphael-min.js"></script>
    <script src="~/Content/Start-Bootstrap/bower_components/morrisjs/morris.min.js"></script>
    <script src="~/Content/Start-Bootstrap/js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Content/Start-Bootstrap/dist/js/sb-admin-2.js"></script>

</body>
</html>
