@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model DWM.Models.Repositories.CorretorViewModel
@{
    ViewBag.Title = "DWM-Imovel";
}

<div class="container">
    @using (Html.BeginForm("Create", "Corretores", FormMethod.Post, new { @class = "form" }))
    {
        <div class="panel panel-primary" style="margin-top: 10px">
            <div class="panel-heading">
                <h2 class="panel-title">
                    Corretores - <small class="text-white">Inclusão de corretores</small>
                </h2>
            </div>
            <div class="panel-body">
                @Html.ValidationSummary(false, "", new { @style = "margin-left: -20px" })
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="nome">Nome</label>
                            @Html.TextBoxFor(info => info.nome, new { @class = "form-control input-sm", @maxlength = "60" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="rg">RG</label>
                            <div class="input-group col-md-12">
                                @Html.TextBoxFor(info => info.rg, new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="rg">Órgão Emissor</label>
                            <div class="input-group col-md-12">
                                @Html.TextBoxFor(info => info.orgao_emissor, new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="email">E-mail</label>
                            @Html.TextBoxFor(m => m.email, new { @class = "form-control input-sm", @style = "text-transform: lowercase;", @maxlength = "100" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="cpf">CPF</label>
                                    @Html.TextBoxFor(m => m.cpf, new { @class = "form-control input-sm" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="">CEP</label>
                                    <div class="input-group col-md-12">
                                        @Html.TextBoxFor(m => m.cep, new { @class = "form-control input-sm" })
                                        <div class="input-group-btn">
                                            <a href="#" class="btn btn-primary btn-sm link-default" onclick="BuscaCep2('cep', 'endereco', 'bairro', 'cidade', 'uf')"><span class="link-default">Busca Cep</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="endereco">Endereço</label>
                            @Html.TextBoxFor(m => m.endereco, new { @class = "form-control input-sm", @maxlength = "50" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="complemento">Complemento</label>
                            @Html.TextBoxFor(m => m.complemento_end, new { @class = "form-control input-sm", @maxlength = "30" })
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label" for="cidade">Cidade</label>
                                    @Html.TextBoxFor(m => m.cidade, new { @class = "form-control input-sm", @maxlength = "25" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label" for="uf">UF</label>
                                    @Html.TextBoxFor(m => m.uf, new { @class = "form-control input-sm", @maxlength = "2" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="bairro">Bairro</label>
                            @Html.TextBoxFor(m => m.bairro, new { @class = "form-control input-sm", @maxlength = "25" })
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label" for="fone1">Telefone Celular</label>
                            @Html.TextBoxFor(m => m.fone1, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label" for="fone2">Telefone Celular 2</label>
                            @Html.TextBoxFor(m => m.fone2, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label" for="rg">CRECI</label>
                            <div class="input-group col-md-12">
                                @Html.TextBoxFor(info => info.creci, new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Salvar",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "Corretores",
                                                        buttonType = "link"
                                                    }
                        })
                    </div>
                    <div class="col-md-offset-4 hidden-xs">
                        ( * ) - Campo de preenchimento obrigatório
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $("#cep").mask("99999-999");
    $("#cpf_cnpj").mask("999.999.999-99");
    $("#fone1").mask("99 99999-9999");
    $("#fone2").mask("99 99999-9999");
    $("#fone3").mask("99 9999-9999");
    MudaPessoa();

    function MudaPessoa() {
        if ($("#ind_tipo_pessoa").val() == "PF") {
            $("#div-sexo").show();
            $("#div-nascimento").show();
            $("#cpf_cnpj").mask("999.999.999-99");
        }
        else {
            $("#div-sexo").hide();
            $("#div-nascimento").hide();
            $("#cpf_cnpj").mask("99.999.999/9999-99");
        }

    }
</script>

