@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model DWM.Models.Repositories.ClienteViewModel
@{
    ViewBag.Title = "DWM-Imovel";
}

@using (Html.BeginForm("Create", "Clientes", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="panel panel-primary" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Clientes
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <blockquote>
                        <p>
                            Inclusão de clientes
                        </p>
                    </blockquote>
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="form-group" style="margin-top: 20px">
                            @Html.ValidationSummary(false)
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px">
                        @Html.LabelFor(m => m.nome, new { @class = "col-md-1 col-xs-12 col-sm-3 control-label" })
                        <div class="col-md-4 col-xs-8 col-sm-6">
                            @Html.TextBoxFor(m => m.nome, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="form-group" style="margin-top: 20px">
                        @Html.LabelFor(m => m.cpf_cnpj, new { @class = "col-md-1 col-xs-12 col-sm-3 control-label" })
                        <div class="col-md-4 col-xs-8 col-sm-6">
                            @Html.TextBoxFor(m => m.cpf_cnpj, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="form-group" style="margin-top: 20px">
                        @Html.LabelFor(m => m.telefone, new { @class = "col-md-1 col-xs-12 col-sm-3 control-label" })
                        <div class="col-md-4 col-xs-8 col-sm-6">
                            @Html.TextBoxFor(m => m.telefone, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Salvar",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "Clientes",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4 hidden-xs">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $("#telefone").mask("99 99999-9999");
</script>