@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model DWM.Models.Repositories.ClienteViewModel
@{
    ViewBag.Title = "DWM-Imovel";
}

@using (Html.BeginForm("Edit", "Clientes", FormMethod.Post, new { @class = "form" }))
{
    @Html.HiddenFor(info => info.clienteId)
    <div class="panel panel-primary" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Clientes
            </h2>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(false)
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="nome">Nome</label>
                        @Html.TextBoxFor(m => m.nome, new { @class = "form-control input-sm" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="nome">CPF/CNPJ</label>
                        @Html.TextBoxFor(m => m.cpf_cnpj, new { @class = "form-control input-sm" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="nome">Telefone</label>
                        @Html.TextBoxFor(m => m.telefone, new { @class = "form-control input-sm" })
                    </div>
                </div>
            </div>
        </div>


        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Salvar",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "Clientes",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4 hidden-xs">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}


<script src="../../../Scripts/jquery.mask.js"></script>
<script type="text/javascript">
    $("#telefone").mask("99 99999-9999");
</script>