@model System.Web.Mvc.PagedList<DWM.Models.Repositories.ClienteViewModel>

@{
    Layout = null;
}
@if (Model != null)
{
    <div class="row Scroll">
        <div class="col-md-12 column hidden-xs">
            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer">
                <caption></caption>
                <thead class="corvo text-white">
                    <tr>
                        <th>Nome</th>
                        <th>CPF/CNPJ</th>
                        <th>Celular</th>
                        <th class="text-center">Ação</th>
                    </tr>
                </thead>
                @foreach (DWM.Models.Repositories.ClienteViewModel clnt in Model)
                {
                    <tr>
                        <td class="col-md-3 col-sm-4">
                            <small>@clnt.nome</small><br />
                            <small>@clnt.email</small>
                        </td>
                        <td class="col-md-2 col-sm-2">
                            <small>@App_Dominio.Models.Funcoes.FormataCPFCNPJ(clnt.cpf_cnpj)</small>
                        </td>
                        <td class="col-md-2 col-sm-2">
                            <small>@App_Dominio.Models.Funcoes.FormataTelefone(clnt.fone1)</small>
                        </td>
                        <td class="col-md-3 col-sm-2 text-center">
                            <div class="btn-group">
                                <a class="btn btn-primary btn-sm" href="../Clientes/Edit?clienteId=@clnt.clienteId"><i class="glyphicon glyphicon-edit"></i></a>
                                <a class="btn btn-danger btn-sm" href="../Clientes/Delete?clienteId=@clnt.clienteId"><i class="glyphicon glyphicon-minus"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @Html.Partial("Paginacao", Model)
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}




