@model IEnumerable<DWM.Models.Repositories.EsteiraComentarioViewModel>
@{
    Layout = null;
}
@Html.Partial("_alerts")
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Comentários</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                @using (Ajax.BeginForm("CreateComentario", "Workflow", new AjaxOptions { HttpMethod = "get", UpdateTargetId = "comentarios" }, new { @class = "form", id = "myNameId" }))
                {
                    @Html.Hidden("esteiraId", "16")
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="observacao">Novo comentário</label>
                                @Html.TextArea("observacao", "", 3, 1, new { @class = "form-control input-sm", @maxlength = "4000" })
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Salvar</button>
                }
            </li>
            @foreach (DWM.Models.Repositories.EsteiraComentarioViewModel com in Model.OrderByDescending(info => info.dt_comentario))
            {
                var cor = "text-success";
                if (com.ind_aprovacao == "R")
                {
                    cor = "text-danger";
                }
                else if (com.ind_aprovacao == null)
                {
                    cor = "text-primary";
                }
                <li class="list-group-item">
                    <p>
                        @com.nome
                        <span class="text-right">@com.tempo_comentario</span>
                    </p>
                    <p class="@cor">
                        <b>@com.descricao_etapa</b>
                    </p>
                    <p>
                        @com.observacao
                    </p>
                </li>
            }
        </ul>
    </div>

</div>



<script>

    $(function () {
        $('form').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#comentarios').html(result);
                        $('#observacao').val('');
                    }
                });
            }
            return false;
        });
    });

    function fnSalvarComentario() {
        var link = 'CreateComentario';
        link = encodeURI(link + '?esteiraId=' + $('#esteiraId').val() + '&observacao=' + $('#observacao').val());

        $('#carregando').css("visibility", "visible");
        $('#carregando').css("width", "100%");
        $('#carregando').css("height", "100%");
        $('#carregando').css("position", "absolute");
        $('#carregando').css("background-color", "black");
        $('#carregando').css("filter", "alpha(opacity=60)");
        $('#carregando').css("opacity", "0.6");
        $('#carregando').css("left", "0%");
        $('#carregando').css("top", "0%");

        link = encodeURI(link + '&noCahce=' + new Date());
        $('#comentarios').load(link);

        $(document).ajaxSuccess(function (event, xhr, settings) {
            $('#carregando').css("visibility", "hidden");
            $('#carregando').css("height", "0px");
            $('#carregando').css("margin-top", "0%");
            $('#carregando').css("margin-left", "0%");
        }).error(function () {
            $('#carregando').css("visibility", "hidden");
            $('#carregando').css("height", "0px");
            $('#carregando').css("margin-top", "0%");
            $('#carregando').css("margin-left", "0%");
        })

    }

</script>