@model System.Web.Mvc.PagedList<DWM.Models.Repositories.EsteiraComentarioViewModel>
@{
    Layout = null;
}
@Html.Partial("_alerts")
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Comentários</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                @using (Ajax.BeginForm("CreateComentario", "Workflow", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "comentarios" }, new { @class = "form", @id="form0" }))
                {
                    @Html.Hidden("esteiraId", (string)ViewBag.esteiraId)
                    <p>
                        <div class="form-group" style="margin-bottom: 5px !important">
                            <div class="input-group">
                                @Html.TextBox("observacao", "", new { @class = "form-control", @placeholder = "Escreva um comentário", @maxlength = "4000" })
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-success">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </p>
                }
            </li>
            @foreach (DWM.Models.Repositories.EsteiraComentarioViewModel com in Model.OrderByDescending(info => info.dt_comentario))
            {
                var cor = "text-success";
                if (com.ind_aprovacao == "R")
                {
                    cor = "text-danger";
                }
                else if (com.ind_aprovacao == null)
                {
                    cor = "text-primary";
                }
                <li class="list-group-item">
                    <p>
                        <strong>@Html.GravatarImage(com.login, size: 30) @com.nome</strong>
                        <span class="col-md-offset-4">@com.tempo_comentario</span>
                    </p>
                    <p class="@cor">
                        <b>@com.descricao_etapa</b>
                    </p>
                    <p>
                        <span class="text-mama-africa">@com.observacao</span>
                    </p>
                </li>
            }
            @Html.Partial("Paginacao", Model)
        </ul>
    </div>

</div>



<script>
    $(function () {
        $('#form0').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#comentarios').html(result);
                        $('#observacao').val('');
                    }
                });
            }
            return false;
        });
    });

</script>