@model IEnumerable<DWM.Models.Repositories.EsteiraContabilizacaoViewModel>
@{
    Layout = null;
}
@Html.Partial("_alerts")
<p><h4>Arquivos</h4></p>
<p>
    <ul class=list-unstyled>
        @foreach (DWM.Models.Repositories.EsteiraContabilizacaoViewModel arq in Model)
        {
            <li data-toggle="modal" data-target="#myModal1" style="cursor: pointer" class="text-primary" onclick="DisplayFile('@arq.arquivo', '@arq.nome_original', '@arq.extensao')">@arq.nome_original</li>
        }
    </ul>
</p>
<p>
    @using (Ajax.BeginForm("Upload", "Workflow", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "dados_proposta" }, new { @class = "form", @name = "form2", @id = "form2", enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <input id="fileupload" type="file" name="files[]" multiple>
            @Html.Hidden("fileProposta")
            @Html.Hidden("nome_original")
            @Html.Hidden("esteiraId", (string)ViewBag.esteiraId)
        </div>
        <div class="file_name" id="file_name1"></div>
        <div class="progress" id="progress1">
            <div id="progress1-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">0% complete</span>
            </div>
        </div>
        <button class="btn btn-success" id="btnSalvarArq" onclick="$('#nome_original').val($('.modal-title').html())">Salvar</button>
    }
</p>

<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body text-center" id="myModal1-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<link href="~/Content/css/jquery.fileupload.css" rel="stylesheet" />
<script src="~/Scripts/fileUpload/jquery.ui.widget.js"></script>
<script src="~/Scripts/fileUpload/jquery.fileupload.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        FileUpload('fileupload', 'fileProposta', 'progress1', 'file_name1', 'myModal1', 'arq1', 'trash1');
    });
</script>


<script>
    $(function () {

        $('#form2').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#dados_proposta').html(result);
                    }
                });
            }
            return false;
        });
    });

    function DisplayFile(arquivo, nome_original, extensao) {
        if (extensao == 'jpeg' || extensao == 'jpg' || extensao == 'png' || extensao == 'bmp') {
            $('#myModal1-body').html('<img src="../Users_Data/' + arquivo + '" class="img-responsive" alt="Responsive image" style="height: 600px">');
        }
        else if (extensao == 'pdf') {
            $('#myModal1-body').html('<iframe style="height: 600px; width: 100%" src="../Users_Data/' + arquivo + '"></iframe>');
        }
        $('.modal-title').html(nome_original);
    }
</script>