@model IEnumerable<DWM.Models.Repositories.EsteiraViewModel>
@{
    Layout = null;
}
@Html.Partial("_alerts")
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Esteira de Aprovação</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item no-padding">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">Início</th>
                            <th>Etapa</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (DWM.Models.Repositories.EsteiraViewModel est in Model)
                        {
                            var cor = "text-success";
                            if (est.ind_aprovacao == "R")
                            {
                                cor = "text-danger";
                            }
                            else if (est.ind_aprovacao == null)
                            {
                                cor = "text-primary";
                            }

                            <tr>
                                <td>
                                    <h4 class="text-center text-muted">
                                        @est.dt_evento.ToString("dd/MM/yyyy")
                                    </h4>
                                    <h4 class="text-center">
                                        @est.dt_evento.ToString("HH:mm")h
                                    </h4>
                                </td>

                                @if (@est.ind_aprovacao == null)
                                {
                                    <td>
                                        <div class="row">
                                            <div class="col-md-9">
                                                <p>
                                                    <h4 class="@cor"><strong>@est.descricao_etapa</strong></h4>
                                                </p>
                                            </div>
                                            <div class="col-md-offset-10">
                                                <span>@est.tempo_etapa</span>
                                            </div>
                                        </div>
                                        <p>@est.dt_ocorrencia.ToString("dd/MM/yyyy")</p>
                                        @if (@est.canApprove)
                                        {
                                            <div class="row">
                                                <div class="col-md-12 no-padding">
                                                    @using (Ajax.BeginForm("Aprovar", "Workflow", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "esteira" }, new { @class = "form", @name = "form1", @id = "form1" }))
                                                    {
                                                        @Html.Hidden("propostaId", (string)ViewBag.propostaId)
                                                        @Html.Hidden("btnAprovarRecusar", "")
                                                        string obs = (string)ViewBag.observacao;
                                                        <div class="form-group">
                                                            <div class="col-md-9">
                                                                @Html.TextBox("observacao_etapa", obs, new { @class = "form-control", @placeholder = "Observação", @maxlength = "4000" })
                                                            </div>
                                                            @Html.Editor("_dt_ocorrencia", "DATE", new { identificador = "dt_ocorrencia", value = ViewBag.dt_ocorrencia != null ? ViewBag.dt_ocorrencia : DateTime.Today, readOnly = "false" })
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <button type="submit" class="btn btn-success" id="_btnAprovarRecusar" value="approve" onclick="$('#btnAprovarRecusar').val('approve');">Aprovar</button>
                                                                <button type="submit" class="btn btn-danger" id="_btnAprovarRecusar" value="refuse" onclick="$('#btnAprovarRecusar').val('refuse');">Recusar</button>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <div class="row">
                                            <div class="col-md-9">
                                                <p>
                                                    <h4 class="@cor"><strong>@est.descricao_etapa</strong></h4>
                                                </p>
                                            </div>
                                            <div class="col-md-offset-10">
                                                <span>@est.tempo_etapa</span>
                                            </div>
                                        </div>
                                        <p>@est.dt_ocorrencia.ToString("dd/MM/yyyy")</p>
                                        <p><strong>@Html.GravatarImage(est.login, size: 30) @est.nome</strong></p>
                                        <p class="text-muted">@est.observacao</p>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
    
</div>

<script>
    var x1 = '<strong>' + '@Model.FirstOrDefault().descricao_etapa' + '</strong>';
    var x2 = 'desde ' + '@Model.FirstOrDefault().dt_ocorrencia.ToString("dd/MM/yyyy")';
    var x3 = '@Model.FirstOrDefault().esteiraId';
    $('#descricao_etapa').html(x1);
    $('#data_proposta').html(x2);
    $('#esteiraId').val(x3);

    $(function () {

        $('#form1').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#esteira').html(result);
                        listComissao(x3);
                        progressBar();
                        $('#observacao_etapa').val('');
                    }
                });
            }
            return false;
        });
    });

    function listComissao(_esteiraId) {
        var link = encodeURI('../Workflow/ListComissao?esteiraId=' + _esteiraId);

        $('#carregando').css("visibility", "visible");
        $('#carregando').css("width", "100%");
        $('#carregando').css("height", "100%");
        $('#carregando').css("position", "absolute");
        $('#carregando').css("background-color", "black");
        $('#carregando').css("filter", "alpha(opacity=60)");
        $('#carregando').css("opacity", "0.6");
        $('#carregando').css("left", "0%");
        $('#carregando').css("top", "0%");

        link = encodeURI(link + '&noCahce=' + new Date());

        $('#comissao').load(link);
        $(document).ajaxSuccess(function (event, xhr, settings) {
            $('#carregando').css("visibility", "hidden");
            $('#carregando').css("height", "0px");
            $('#carregando').css("margin-top", "0%");
            $('#carregando').css("margin-left", "0%");
        }).error(function () {
            $('#carregando').css("visibility", "hidden");
            $('#carregando').css("height", "0px");
            $('#carregando').css("margin-top", "0%");
            $('#carregando').css("margin-left", "0%");
        })

    }

</script>