@model DWM.Models.Repositories.PropostaViewModel
@{
    Layout = null;
}
<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@Model.percent_atual.ToString("##0")" aria-valuemin="0" aria-valuemax="100" style="width: @(Model.percent_atual.ToString("##0"))%">
    <b>@Model.qte_dias_esteira dias</b>
</div>
<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@Model.percent_restnte.ToString("##0")" aria-valuemin="0" aria-valuemax="100" style="width: @(Model.percent_restnte.ToString("##0"))%">
</div>


<script>
    function progressBar() {
        var _propostaId = '@Model.propostaId';
        var link = encodeURI('../Workflow/ProgressBarEsteira?propostaId=' + _propostaId);

        $('#carregando').css("visibility", "visible");
        $('#carregando').css("width", "100%");
        $('#carregando').css("height", "100%");
        $('#carregando').css("position", "absolute");
        $('#carregando').css("background-color", "black");
        $('#carregando').css("filter", "alpha(opacity=60)");
        $('#carregando').css("opacity", "0.6");
        $('#carregando').css("left", "0%");
        $('#carregando').css("top", "0%");

        link = encodeURI(link + '&noCahce=' + new Date());

        $('#div-progressbar-esteira').load(link);
        $(document).ajaxSuccess(function (event, xhr, settings) {
            $('#carregando').css("visibility", "hidden");
            $('#carregando').css("height", "0px");
            $('#carregando').css("margin-top", "0%");
            $('#carregando').css("margin-left", "0%");
        }).error(function () {
            $('#carregando').css("visibility", "hidden");
            $('#carregando').css("height", "0px");
            $('#carregando').css("margin-top", "0%");
            $('#carregando').css("margin-left", "0%");
        })

    }

</script>




