@using App_Dominio.Repositories
@model DWM.Models.Repositories.PropostaViewModel
@{
    ViewBag.Title = "DWM-Imovel";
    ViewBag.esteiraId = Model.Esteira.FirstOrDefault().esteiraId.ToString();
}

<div class="container-fluid">
    <div class="row">

        @* Dados do Cliente *@
        <div class="col-md-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <p><h3 class="text-right"><b>@Model.nome_cliente</b></h3></p>
                    <p class="text-right"><b>CPF: @Model.cpf_cnpj</b></p>
                </div>
                <div class="panel-body text-right">
                    <b>Telefone: </b>@Model.fone1 / @Model.fone2
                </div>
            </div>
        </div>
        @* Dados do Empreendimento *@
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p><h3 class="text-right"><b>@Model.descricao_empreendimento</b></h3></p>
                    <p class="text-right"><b>@Model.torre</b></p>
                </div>
                <div class="panel-body text-right">
                    <b>Coordenador: </b>@Model.nome_coordenador / <span class="text-primary">@Model.login_coordenador</span> 
                </div>
            </div>
        </div>

        @* Etapas do Empreendimento *@
        <div class="col-md-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <p><h3 class="text-right" id="descricao_etapa"><b>@Model.descricao_etapa</b></h3></p>
                    <p><h5 class="text-right" id="data_proposta">desde @Model.dt_proposta.ToString("dd/MM/yyyy")</h5></p>
                </div>
                <div class="panel-body" >
                    <div class="row">
                        <div class="col-md-2 margem-negativa">
                            <h5>Etapas</h5>
                        </div>
                        <div class="col-md-10">
                            <div class="progress thin" style="margin-bottom: 6px !important">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@Model.percent_atual.ToString("##0")" aria-valuemin="0" aria-valuemax="100" style="width: @(Model.percent_atual.ToString("##0"))%">
                                    <b>@Model.qte_dias_esteira dias</b>
                                </div>
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@Model.percent_restnte.ToString("##0")" aria-valuemin="0" aria-valuemax="100" style="width: @(Model.percent_restnte.ToString("##0"))%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Valor do Empreendimento *@
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <p><h3 class="text-right"><b>@Model.valor.ToString("R$ ###,###,###,##0.00")</b></h3></p>
                    <p class="text-right"><b>Valor geral da venda</b></p>
                </div>
                <div class="panel-body text-right">
                    <b>Comissão: </b>@Model.vr_comissao.ToString("R$ ###,###,###,##0.00")
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        @* Dados da Proposta *@
        <div class="col-md-3">
            <div id="dados_proposta">
                @Html.Partial("_DadosProposta", Model)
            </div>
        </div>

        @* Esteira de Aprovação *@
        <div class="col-md-6">
            <div id="esteira">
                @Html.Partial("_Esteira", Model.Esteira)
            </div>
        </div>


        @* Comentários *@
        <div class="col-md-3">
            <div id="comentarios">
                @Html.Partial("_Comentarios", Model.Comentarios)
            </div>
        </div>
    </div>
</div>