@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model DWM.Models.Repositories.EmpreendimentoViewModel
@{
    ViewBag.Title = "DWM-Imovel";
}

@using (Html.BeginForm("Delete", "Empreendimentos", FormMethod.Post, new { @class = "form" }))
{
    @Html.HiddenFor(info => info.empreendimentoId)
    @Html.HiddenFor(info => info.nomeEmpreend)
    @Html.HiddenFor(info => info.usuarioId)
    @Html.HiddenFor(info => info.login)
    @Html.HiddenFor(info => info.empresaId)
    <div class="panel panel-primary" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Exclusão de empreendimento
            </h2>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(false)

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="nome">Nome do Empreendimento</label>
                        @Html.TextBoxFor(m => m.nomeEmpreend, new { @class = "form-control input-sm", @disabled = "disable" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="usuario">Coordenador</label>
                        @Html.DropDownListFor(m => m.usuarioId, new DWM.Models.Enumeracoes.BindDropDownList().Coordenadores("Selecione...", Model.usuarioId.ToString()), new { @class = "form-control input-sm", @disabled = "disable" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Excluir",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "Empreendimentos",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4 hidden-xs">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}

