@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model DWM.Models.Repositories.PropostaViewModel
@{
    ViewBag.Title = "DWM-Imovel";
}

<div class="container">
    @using (Html.BeginForm("Create", "Propostas", FormMethod.Post, new { @class = "form" }))
    {
        <div id="div-lov"></div>
        <div class="panel panel-primary" style="margin-top: 10px">
            <div class="panel-heading">
                <h2 class="panel-title">
                    Inclusão de Propostas
                </h2>
            </div>
            <div class="panel-body">
                @Html.ValidationSummary(false)
                <div class="row clearfix">
                    <div class="col-md-6">
                        @Html.Partial("../Typeahead/BuscaEmpreendimento", new App_Dominio.Repositories.TypeaheadRepository()
                                                                                        {
                                                                                            ListName = "Empreendimento",
                                                                                            label = "Empreendimento",
                                                                                            id = "empreendimentoId",
                                                                                            text = "descricao_empreendimento",
                                                                                            lovModal = "LovEmpreendimentoModal",
                                                                                            controller = "Empreendimentos",
                                                                                            descricao = "descricao_empreendimento",
                                                                                            readOnly = false,
                                                                                            values = new SelectItemsTypeahead()
                                                                                                                    {
                                                                                                                        Value = Model.empreendimentoId != null ? Model.empreendimentoId.ToString() : "",
                                                                                                                        Text = Model.descricao_empreendimento ?? "",
                                                                                                                    },
                                                                                            disableButtons = false,
                                                                                            nextField = "nome_cliente",
                                                                                            prevField = ""
                                                                                        })
                    </div>
                    <div class="col-md-6">
                        @Html.Partial("../Typeahead/BuscaCliente", new App_Dominio.Repositories.TypeaheadRepository()
                                                                                        {
                                                                                            ListName = "Cliente",
                                                                                            label = "Cliente",
                                                                                            id = "clienteId",
                                                                                            text = "nome_cliente",
                                                                                            lovModal = "LovClienteModal",
                                                                                            controller = "Clientes",
                                                                                            descricao = "nome_cliente",
                                                                                            crudModal = "CrudClienteModal",
                                                                                            readOnly = false,
                                                                                            values = new SelectItemsTypeahead()
                                                                                                                    {
                                                                                                                        Value = Model.clienteId != null ? Model.clienteId.ToString() : "",
                                                                                                                        Text = Model.nome_cliente ?? "",
                                                                                                                    },
                                                                                            disableButtons = false,
                                                                                            nextField = "dt_proposta",
                                                                                            prevField = "descricao_empreendimento"
                                                                                        })
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label" for="dt_proposta">Dt.Proposta</label>
                            @Html.EditorFor(info => info.dt_proposta, "DATE", new { identificador = "dt_proposta", value = DateTime.Today, readOnly = "false" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="torre">Torre</label>
                            @Html.TextBoxFor(m => m.torre, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label" for="unidade">Unidade</label>
                            @Html.TextBoxFor(m => m.unidade, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        @Html.EditorFor(m => m.valor, "DECIMAL2", new { label = "Valor", htmlAttributes = (object)new { @class = "form-control text-right", @onblur = "return Converte(this, 'valor')" } })
                    </div>
                    <div class="col-md-2">
                        @Html.EditorFor(m => m.vr_comissao, "DECIMAL2", new { label = "Comissão", htmlAttributes = (object)new { @class = "form-control text-right", @onblur = "return Converte(this, 'vr_comissao')" } })
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="usuario">Gerente</label>
                            @Html.DropDownListFor(m => m.usuarioId, new DWM.Models.Enumeracoes.BindDropDownList().Usuarios("Selecione...", Model.usuarioId.ToString()), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-5">
                        @Html.Partial("../Typeahead/BuscaCorretor", new App_Dominio.Repositories.TypeaheadRepository()
                                                                                        {
                                                                                            ListName = "Corretor",
                                                                                            label = "Corretor",
                                                                                            id = "corretor1Id",
                                                                                            text = "nome_corretor",
                                                                                            lovModal = "LovCorretorModal",
                                                                                            controller = "Corretores",
                                                                                            descricao = "nome_corretor",
                                                                                            crudModal = "CrudCorretorModal",
                                                                                            readOnly = false,
                                                                                            values = new SelectItemsTypeahead()
                                                                                                                    {
                                                                                                                        Value = Model.corretor1Id != null ? Model.corretor1Id.ToString() : "",
                                                                                                                        Text = Model.nome_corretor1 ?? "",
                                                                                                                    },
                                                                                            disableButtons = false,
                                                                                            nextField = "unidade",
                                                                                            prevField = "usuarioId"
                                                                                        })

                    </div>
                </div>
            </div>
            

            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Salvar",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "Clientes",
                                                        buttonType = "link"
                                                    }
                        })
                    </div>
                    <div class="col-md-offset-4 hidden-xs">
                        ( * ) - Campo de preenchimento obrigatório
                    </div>
                </div>
            </div>
        </div>
    }
</div>

