@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model DWM.Models.Repositories.PropostaViewModel
@{
    ViewBag.Title = "DWM-Imovel";
}


@using (Html.BeginForm("Create", "Propostas", FormMethod.Post, new { @class = "form" }))
{
    <div id="div-lov">


<!-- Modal -->
<div id="myModal" class="modal fade in" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block; padding-right: 17px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content hidden-xs">
            <div class="modal-header info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnModal">×</button>
                <h3 class="modal-title" id="myModalLabel">Pesquisa</h3>
            </div>
            <div class="modal-body">
                

<div class="row">
    <div class="col-md-12" style="margin: 0px">
           


<form action="/Home/LovEmpreendimentoModal" data-ajax="true" data-ajax-method="get" id="form0" method="post" role="search" style="margin-left: 20px">    <div class="form-horizontal" style="padding-top: 10px;">
        <div class="form-group">
            <div class="col-md-11 col-xs-10 col-sm-10 input-group">
                <input class="form-control" id="descricao" name="descricao" placeholder="Buscar" type="text" value="">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-info" onclick="Refresh(0, getPageSize(), '../Empreendimentos/_ListEmpreendimentoModal', 'div-emp')">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</form>

        <div id="div-emp" style="padding-top: 0px">
            

    <div class="row Scroll" style="margin-top: -15px">
        <div class="col-md-12">
            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer">
                <caption></caption>
                <thead class="corvo text-enfatico">
                    <tr>
                        <th>Nome</th>
                    </tr>
                </thead>
                    <tbody><tr onclick="Move('0', 'Parc Paradiso')">
                        <td class="col-md-7 col-sm-2">
                            Parc Paradiso
                        </td>
                    </tr>
            </tbody></table>
        </div>
    </div>

<div class="row" style="height: 20px">
    <div class="col-md-12">
    </div>
</div>
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <ul class="pagination pagination-sm">
                <li><a href="#" onclick="javascript:foward('0', '50', '0', '../Empreendimentos/_ListEmpreendimentoModal', 'div-emp');"><span class="glyphicon glyphicon-backward"></span> </a></li>
                <li><a href="#" onclick="javascript:foward('0', '50', '0', '../Empreendimentos/_ListEmpreendimentoModal', 'div-emp');"><span class="glyphicon glyphicon-step-backward"></span> </a></li>
                        <li class="disabled"><a href="#">1</a></li>
                <li><a href="#" onclick="javascript:foward('1', '50', '0', '../Empreendimentos/_ListEmpreendimentoModal', 'div-emp');"><span class="glyphicon glyphicon-step-forward"></span> </a></li>
                <li><a href="#" onclick="javascript:foward('0', '50', '0', '../Empreendimentos/_ListEmpreendimentoModal', 'div-emp');"><span class="glyphicon glyphicon-forward"></span></a></li>
                    <li><a href="#" onclick="javascript:foward('0', '5000', '0', '../Empreendimentos/_ListEmpreendimentoModal', 'div-emp');"><span class="glyphicon glyphicon-list-alt"></span></a></li>
            </ul>

        </div>
    </div>



        </div>
    </div>
</div>

<script type="text/javascript">

    function Move(id, descricao) {
        $("#empreendimentoId").val(id);
        $("#descricao_empreendimento").val(descricao);
        $("#descricao_empreendimento1").val(descricao);
        $("#btnModal").click();
    }

</script>

            </div>
            <div class="modal-footer panel-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
        </div>
    </div>
</div>


<a id="tttt" href="#myModal" data-toggle="modal"></a>

<script type="text/javascript">
    document.getElementById("tttt").click();
</script>
</div>
    <div class="panel panel-primary margem-topo-10">
        <div class="panel-heading">
            <h2 class="panel-title">
                Inclusão de Propostas
            </h2>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(false)
            <div class="row clearfix">
                <div class="col-md-4">
                    @Html.Partial("../Typeahead/BuscaEmpreendimento", new App_Dominio.Repositories.TypeaheadRepository()
                                                                                        {
                                                                                            ListName = "Empreendimento",
                                                                                            label = "Empreendimento",
                                                                                            id = "empreendimentoId",
                                                                                            text = "descricao_empreendimento",
                                                                                            lovModal = "LovEmpreendimentoModal",
                                                                                            controller = "Empreendimentos",
                                                                                            descricao = "descricao_empreendimento",
                                                                                            readOnly = false,
                                                                                            values = new SelectItemsTypeahead()
                                                                                                                    {
                                                                                                                        Value = Model.empreendimentoId != null ? Model.empreendimentoId.ToString() : "",
                                                                                                                        Text = Model.descricao_empreendimento ?? "",
                                                                                                                    },
                                                                                            disableButtons = false,
                                                                                            nextField = "nome_cliente",
                                                                                            prevField = ""
                                                                                        })
                </div>
                <div class="col-md-4">
                    @Html.Partial("../Typeahead/BuscaCliente", new App_Dominio.Repositories.TypeaheadRepository()
                                                                                        {
                                                                                            ListName = "Cliente",
                                                                                            label = "Cliente",
                                                                                            id = "clienteId",
                                                                                            text = "nome_cliente",
                                                                                            lovModal = "LovClienteModal",
                                                                                            controller = "Clientes",
                                                                                            descricao = "nome_cliente",
                                                                                            crudModal = "CrudClienteModal",
                                                                                            readOnly = false,
                                                                                            values = new SelectItemsTypeahead()
                                                                                                                    {
                                                                                                                        Value = Model.clienteId != null ? Model.clienteId.ToString() : "",
                                                                                                                        Text = Model.nome_cliente ?? "",
                                                                                                                    },
                                                                                            disableButtons = false,
                                                                                            nextField = "torre",
                                                                                            prevField = "descricao_empreendimento"
                                                                                        })
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="control-label" for="torre">Torre</label>
                        @Html.TextBoxFor(m => m.torre, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="control-label" for="unidade">Unidade</label>
                        @Html.TextBoxFor(m => m.unidade, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-1">
                    @Html.EditorFor(m => m.valor, "DECIMAL2", new { label = "Valor", htmlAttributes = (object)new { @class = "form-control text-right", @onblur = "return Converte(this, 'valor')" } })
                </div>
                <div class="col-md-1">
                    @Html.EditorFor(m => m.vr_comissao, "DECIMAL2", new { label = "Comissão", htmlAttributes = (object)new { @class = "form-control text-right", @onblur = "return Converte(this, 'vr_comissao')" } })
                </div>

            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="usuario">Gerente</label>
                        @Html.DropDownListFor(m => m.usuarioId, new DWM.Models.Enumeracoes.BindDropDownList().Usuarios("Selecione...", Model.usuarioId.ToString()), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.Partial("../Typeahead/BuscaCorretor", new App_Dominio.Repositories.TypeaheadRepository()
                                                                                        {
                                                                                            ListName = "Corretor",
                                                                                            label = "Corretor",
                                                                                            id = "corretor1Id",
                                                                                            text = "nome_corretor",
                                                                                            lovModal = "LovCorretorModal",
                                                                                            controller = "Corretores",
                                                                                            descricao = "nome_corretor",
                                                                                            crudModal = "CrudCorretorModal",
                                                                                            readOnly = false,
                                                                                            values = new SelectItemsTypeahead()
                                                                                                                    {
                                                                                                                        Value = Model.corretor1Id != null ? Model.corretor1Id.ToString() : "",
                                                                                                                        Text = Model.nome_corretor1 ?? "",
                                                                                                                    },
                                                                                            disableButtons = false,
                                                                                            nextField = "dt_proposta",
                                                                                            prevField = "usuarioId"
                                                                                        })

                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label" for="dt_proposta">Dt.Proposta</label>
                        @Html.EditorFor(info => info.dt_proposta, "DATE", new { identificador = "dt_proposta", value = DateTime.Today, readOnly = "false" })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Salvar",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                        })
                </div>
            </div>
        </div>
    </div>
}



