@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model System.Web.Mvc.PagedList<PropostaViewModel>
<!--overview start-->
<div class="row">
    <div class="col-lg-12" style="margin-top: -40px">
        <h3 class="page-header"><i class="fa fa-laptop"></i> NM Consultoria Imobiliária</h3>
        @*<ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                <li><i class="fa fa-laptop"></i>Dashboard</li>
            </ol>*@
    </div>
</div>

<!-- Resumo -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-money fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">R$ 279.545,22</div>
                        <div>Comissão do mês</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver mais...</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">78</div>
                        <div>Vendas no mês</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver mais...</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">124</div>
                        <div>Análises de créditos aprovadas</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver mais...</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>Propostas atrasadas</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver mais...</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box dark-bg">
                <i class="fa fa-thumbs-o-up"></i>
                <div class="count">R$ 279.545,22</div>
                <div class="title">Comissão no mês</div>
            </div><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box brown-bg">
                <i class="fa fa-shopping-cart"></i>
                <div class="count">78</div>
                <div class="title">Vendas no mês</div>
            </div><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box green-bg">
                <i class="fa fa-cubes"></i>
                <div class="count">17</div>
                <div class="title">Análises de crédito aprovadas</div>
            </div><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box blue-bg">
                <i class="fa fa-cloud-download"></i>
                <div class="count">15</div>
                <div class="title">Propostas atrasadas</div>
            </div><!--/.info-box-->
        </div><!--/.col-->


    </div><!--/.row-->*@

@if (Model != null)
{
    <div class="row">
        <div class="col-lg-12">
            <section class="panel panel-default">
                <header class="panel-heading">
                    <a class="h4" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Panorama das vendas
                    </a>
                    <div class="collapse margem-topo-20" id="collapseExample">
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-search fa-2x"> Pesquisar</i></a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-edit fa-2x"> Incluir</i></a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="panel panel-primary margem-topo-10">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Buscar Propostas</h3>
                                        </div>
                                        <div class="panel-body">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <div class="col-xs-1 col-md-1">
                                                        <input class="form-control" type="text" placeholder="ID">
                                                    </div>
                                                    <div class="col-xs-1 col-md-2">
                                                        <input class="form-control" type="text" placeholder="CPF/Cliente">
                                                    </div>
                                                    <div class="col-xs-1 col-md-2">
                                                        <input class="form-control" type="text" placeholder="Empreendimento">
                                                    </div>
                                                    <div class="col-xs-1 col-md-1">
                                                        <input class="form-control" type="text" placeholder="Valor">
                                                    </div>
                                                    <div class="col-xs-1 col-md-1">
                                                        <input class="form-control" type="text" placeholder="Torre/Unidade">
                                                    </div>
                                                    <div class="col-xs-1 col-md-2">
                                                        @Html.DropDownList("etapaId", new DWM.Models.Enumeracoes.BindDropDownList().Etapas("Todas...", ""), new { @class = "form-control" })
                                                    </div>
                                                    <div class="col-xs-1 col-md-2">
                                                        @Html.Editor("dt_prop", "DATE", new { identificador = "dt_prop", value = DateTime.Today, readOnly = "false" })
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary">
                                                            <input type="checkbox"> Buscar
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    @Html.Partial("../Propostas/Create", new PropostaViewModel())
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <table class="table table-striped table-advance table-hover margem-topo-10" style="cursor: pointer">
                    <tbody>
                        <tr>
                            <th class="text-info"><i class="icon_key_alt"></i> ID</th>
                            <th class="text-info"><i class="icon_calendar"></i> Data</th>
                            <th class="text-info"><i class="icon_book_alt"></i> Empreendimento</th>
                            <th class="text-info"><i class="icon_profile"></i> Cliente</th>
                            <th class="text-info"><i class="icon_pin_alt"></i> Torre/Unidade</th>
                            <th class="text-info"><i class="icon_clock_alt"></i> Etapa</th>
                            <th class="text-info"><i class="icon_plus_alt2"></i> Valor</th>
                            <th class="text-info"><i class="icon_like"></i> Comissão</th>
                            <th class="text-info"><i class="icon_cogs"></i> Action</th>
                        </tr>
                        @foreach (PropostaViewModel pro in Model)
                        {
                            var cliente = pro.nome_cliente;
                            <tr>
                                <td class="text-left">@pro.propostaId</td>
                                <td>@pro.dt_proposta.ToString("dd/MM/yyyy")</td>
                                <td>@pro.descricao_empreendimento</td>
                                @if (pro.cpf_cnpj != null && pro.cpf_cnpj != "")
                                {
                                    <td>@pro.nome_cliente <p><strong>CPF:</strong> @App_Dominio.Models.Funcoes.FormataCPFCNPJ(pro.cpf_cnpj)</p></td>
                                }
                                else
                                {
                                    <td>@pro.nome_cliente</td>
                                }
                                <td><strong>Torre: </strong>@pro.torre <p><strong>Unidade:</strong> @pro.unidade</p></td>
                                <td>
                                    <strong>@pro.descricao_etapa</strong>
                                    <div class="progress thin">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@pro.percent_atual.ToString("##0")" aria-valuemin="0" aria-valuemax="100" style="width: @(pro.percent_atual.ToString("##0"))%">
                                        </div>
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@pro.percent_restnte.ToString("##0")" aria-valuemin="0" aria-valuemax="100" style="width: @(pro.percent_restnte.ToString("##0"))%">
                                        </div>
                                    </div>
                                    <span class="sr-only">(@pro.percent_atual.ToString("##0"))%</span>
                                </td>
                                <td><br />@pro.valor.ToString("R$ ###,###,###,##0.00")</td>
                                <td><br />@pro.vr_comissao.ToString("R$ ###,###,###,##0.00")</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="../Workflow/Edit?propostaId=@pro.propostaId" title="Workflow"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-primary" href="../Propostas/Edit?propostaId=@pro.propostaId" title="Editar Proposta"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-danger" href="../Propostas/Delete?propostaId=@pro.propostaId" title="Excluir Proposta"><i class="fa fa-minus"></i></a>
                                    </div>
                                </td>
                            </tr>

                        }
                        @*<tr>
                                <td class="text-center">15</td>
                                <td>10/06/2015</td>
                                <td>Torres Cenário</td>
                                <td>Graziela Medeiros Faciola <p><strong>CPF:</strong> 373.238.664-09</p></td>
                                <td><strong>Torre: </strong>Galileu <p><strong>Unidade:</strong> 1301</p></td>
                                <td>
                                    <strong>Contabilização</strong>
                                    <div class="progress thin">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                                        </div>
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width: 27%">
                                        </div>
                                    </div>
                                    <span class="sr-only">73%</span>
                                </td>
                                <td>R$ 780.000,00</td>
                                <td>R$ 36.000,00</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">18</td>
                                <td>10/06/2015</td>
                                <td>Torres Cenário</td>
                                <td>Jânio Reis Oliveira<p><strong>CPF:</strong> 553.238.264-09</p></td>
                                <td><strong>Torre: </strong>Mefisto <p><strong>Unidade:</strong> 301</p></td>
                                <td>
                                    <strong>Análise documentação</strong>
                                    <div class="progress thin">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width: 27%">
                                        </div>
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                                        </div>
                                    </div>
                                    <span class="sr-only">27%</span>
                                </td>
                                <td>R$ 880.000,00</td>
                                <td>R$ 44.000,00</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">19</td>
                                <td>14/06/2015</td>
                                <td>Torres Cenário</td>
                                <td>Fernanda Lima Pereira <p><strong>CPF:</strong> 004.238.9014-09</p></td>
                                <td><strong>Torre: </strong>Galileu <p><strong>Unidade:</strong> 1802</p></td>
                                <td>
                                    <strong>Proposta</strong>
                                    <div class="progress thin">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100" style="width: 13%">
                                        </div>
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
                                        </div>
                                    </div>
                                    <span class="sr-only">13%</span>
                                </td>
                                <td>R$ 180.000,00</td>
                                <td>R$ 9.000,00</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">22</td>
                                <td>15/06/2015</td>
                                <td>Torres Cenário</td>
                                <td>Fernanda Vasconcelos<p><strong>CPF:</strong> 553.238.264-09</p></td>
                                <td><strong>Torre: </strong>Margareth <p><strong>Unidade:</strong> 2301</p></td>
                                <td>
                                    <strong>Análise de Crédito</strong>
                                    <div class="progress thin">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                        </div>
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                        </div>
                                    </div>
                                    <span class="sr-only">50%</span>
                                </td>
                                <td>R$ 880.000,00</td>
                                <td>R$ 44.000,00</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">21</td>
                                <td>15/06/2015</td>
                                <td>Torres Liberto</td>
                                <td>Haroldo Carvalho da Penha<p><strong>CPF:</strong> 553.238.264-09</p></td>
                                <td><strong>Torre: </strong>Galileu <p><strong>Unidade:</strong> 1304</p></td>
                                <td>
                                    <strong>Reanálise da documentação</strong>
                                    <div class="progress thin">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="37" aria-valuemin="0" aria-valuemax="100" style="width: 37%">
                                        </div>
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100" style="width: 63%">
                                        </div>
                                    </div>
                                    <span class="sr-only">37%</span>
                                </td>
                                <td>R$ 1.480.000,00</td>
                                <td>R$ 70.000,00</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">24</td>
                                <td>21/06/2015</td>
                                <td>Torres Liberto</td>
                                <td>Penélope Batista Maciel<p><strong>CPF:</strong> 188.224.214-00</p></td>
                                <td><strong>Torre: </strong>Ébano <p><strong>Unidade:</strong> 1301</p></td>
                                <td>
                                    <strong>Análise documentação</strong>
                                    <div class="progress thin">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width: 27%">
                                        </div>
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                                        </div>
                                    </div>
                                    <span class="sr-only">27%</span>
                                </td>
                                <td>R$ 1.480.000,00</td>
                                <td>R$ 70.000,00</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">23</td>
                                <td>23/06/2015</td>
                                <td>Torres Domani</td>
                                <td>Frederico Paulo da Silva <p><strong>CPF:</strong> 180.234.609-09</p></td>
                                <td><strong>Torre: </strong>Azaleia <p><strong>Unidade:</strong> 1301</p></td>
                                <td>
                                    <strong>Comissionamento</strong>
                                    <div class="progress thin">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100" style="width: 93%">
                                        </div>
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100" style="width: 7%">
                                        </div>
                                    </div>
                                    <span class="sr-only">93%</span>
                                </td>
                                <td>R$ 780.000,00</td>
                                <td>R$ 36.000,00</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">22</td>
                                <td>28/06/2015</td>
                                <td>Torres Cenário</td>
                                <td>Janaína Mergulhão Mascarenhas<p><strong>CPF:</strong> 991.238.984-19</p></td>
                                <td><strong>Torre: </strong>Galileu <p><strong>Unidade:</strong> 1701</p></td>
                                <td>
                                    <strong>Análise documentação</strong>
                                    <div class="progress thin">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width: 27%">
                                        </div>
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                                        </div>
                                    </div>
                                    <span class="sr-only">27%</span>
                                </td>
                                <td>R$ 880.000,00</td>
                                <td>R$ 44.000,00</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                    </div>
                                </td>
                            </tr>*@
                    </tbody>







                </table>
                @Html.Partial("Paginacao", Model)
            </section>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Workflow</h3>
            </div>
            <div class="panel-body">
                <div id="shieldui-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-comments fa-2x"></i> Últimos Comentários</h3>
            </div>
            <div class="panel-body">
                <ul class="news-list">
                    <li>
                        <img alt="" src="~/Content/images/leodias.jpg" />
                        <div class="news-item-info">
                            <div class="name"><a href="#">Leonardo Dias</a> <span class="pull-right text-info">Há 3 horas</span></div>
                            <div class="comment">
                                Os valores da Intermediação e RPA da cliente Gisele Fraga estão incorretos. Favor corrigir
                            </div>
                        </div>
                    </li>
                    <li>
                        <img alt="" src="~/Content/images/viviane.jpg" />
                        <div class="news-item-info">
                            <div class="name"><a href="#">Viviane Santos</a><span class="pull-right text-info">Há 5 horas</span></div>
                            <div class="comment">
                                Análise de crédito do cliente Mateus Virgolino, ID Proposta 101 foi aprovada pela construtora.
                            </div>
                        </div>
                    </li>
                    <li>
                        <img alt="" src="~/Content/images/viviane.jpg" />
                        <div class="news-item-info">
                            <div class="name"><a href="#">Viviane Santos</a><span class="pull-right text-info">Há 5 horas</span></div>
                            <div class="comment">
                                Favor providenciar o Termo de Ciência cliente Gilberto Maia. Documento pendente.
                            </div>
                        </div>
                    </li>
                    <li>
                        <img alt="" src="~/Content/images/carlos_magno.jpg" />
                        <div class="news-item-info">
                            <div class="name"><a href="#">Carlos Magno</a><span class="pull-right text-info">Há 1 dia</span></div>
                            <div class="comment">
                                Fase de contabilização da proposta 105 já pode dar início.
                            </div>
                        </div>
                    </li>
                    <li>
                        <img alt="" src="~/Content/images/gelados_cia.jpg" />
                        <div class="news-item-info">
                            <div class="name"><a href="#">Roberto Menezes</a><span class="pull-right text-info">Há 2 dias</span></div>
                            <div class="comment">
                                Nova venda incluída. Cliente 76 Jorge Marajó. Analisar documentos
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- Widget footer -->
                <div class="widget-foot">

                    <form class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Digite sua mensagem aqui...">
                        </div>
                        <button type="submit" class="btn btn-info">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <table class="table table-striped table-advance table-hover">
            <tbody>
                <tr>
                    <th class="text-info">Empreendimento</th>
                    <th class="text-info">A Receber</th>
                    <th class="text-info">Recebido</th>
                    <th class="text-info">Etapa</th>
                    <th class="text-info">Quantidade</th>
                </tr>
                <tr>
                    <td class="h3">Torres Cenário</td>
                    <td class="h3">R$ 168.000,00</td>
                    <td class="h3">R$ 36.000,00</td>
                    <td>
                        <p>Proposta</p>
                        <p>Análise documentação</p>
                        <p>Reanálise documentação</p>
                        <p>Análise de crédito</p>
                        <p>Contabilização</p>
                        <p>Comissionamento</p>
                        <p>Aprovação comissão</p>
                    </td>
                    <td>
                        <p class="text-center">5</p>
                        <p class="text-center">2</p>
                        <p class="text-center">0</p>
                        <p class="text-center">4</p>
                        <p class="text-center">2</p>
                        <p class="text-center">6</p>
                        <p class="text-center">1</p>
                    </td>
                </tr>
                <tr>
                    <td class="h3">Torres Liberto</td>
                    <td class="h3">R$ 239.000,00</td>
                    <td class="h3">R$ 0,00</td>
                    <td>
                        <p>Proposta</p>
                        <p>Análise documentação</p>
                        <p>Reanálise documentação</p>
                        <p>Análise de crédito</p>
                        <p>Contabilização</p>
                        <p>Comissionamento</p>
                        <p>Aprovação comissão</p>
                    </td>
                    <td>
                        <p class="text-center">10</p>
                        <p class="text-center">3</p>
                        <p class="text-center">1</p>
                        <p class="text-center">3</p>
                        <p class="text-center">4</p>
                        <p class="text-center">4</p>
                        <p class="text-center">2</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- /#wrapper -->
<script type="text/javascript">
    jQuery(function ($) {
        var performance = [12, 43, 34, 22, 12, 33, 4, 17, 22, 34, 54, 67],
            visits = [123, 323, 443, 32],
            traffic = [
            {
                Source: "Direct", Amount: 323, Change: 53, Percent: 23, Target: 600
            },
            {
                Source: "Refer", Amount: 345, Change: 34, Percent: 45, Target: 567
            },
            {
                Source: "Social", Amount: 567, Change: 67, Percent: 23, Target: 456
            },
            {
                Source: "Search", Amount: 234, Change: 23, Percent: 56, Target: 890
            },
            {
                Source: "Internal", Amount: 111, Change: 78, Percent: 12, Target: 345
            }];


        $("#shieldui-chart1").shieldChart({
            theme: "dark",

            primaryHeader: {
                text: "Visitors"
            },
            exportOptions: {
                image: false,
                print: false
            },
            dataSeries: [{
                seriesType: "area",
                collectionAlias: "Q Data",
                data: performance
            }]
        });

        $("#shieldui-chart2").shieldChart({
            theme: "dark",
            primaryHeader: {
                text: "Etapas"
            },
            exportOptions: {
                image: false,
                print: false
            },
            dataSeries: [{
                seriesType: "pie",
                collectionAlias: "traffic",
                data: visits
            }]
        });

        $("#shieldui-grid1").shieldGrid({
            dataSource: {
                data: traffic
            },
            sorting: {
                multiple: true
            },
            rowHover: false,
            paging: false,
            columns: [
            { field: "Source", width: "170px", title: "Source" },
            { field: "Amount", title: "Amount" },
            { field: "Percent", title: "Percent", format: "{0} %" },
            { field: "Target", title: "Target" },
            ]
        });
    });
</script>
